@model TestModel
<tr>
    @using (Html.BeginCollectionItem("Items"))
    {
        @Html.HiddenFor(m => m.Id)
        <td>
            @Html.TextBoxFor(m => m.TestString, new { @class="form-control"})
        </td>
        <td>
            @Html.CheckBoxFor(m => m.TestBool, new { @class = "form-control" })
        </td>
        <td>
            @Html.TextBoxFor(m => m.CreateDate, new { @class = "form-control" })
        </td>
        <td>
            <a href="#" class="btn btn-remove">Delete</a>
        </td>
    }
</tr>