@model TestModel
@{ 
    var collectionName = ViewData["CollectionName"] as string;
}

<tr>
    @using (Html.BeginCollectionItem(collectionName))
    {
        @Html.HiddenFor(m => m.Id)
        <td>
            @Html.TextBoxFor(m => m.TestString, new { @class="form-control"})
        </td>
        <td>
            @Html.CheckBoxFor(m => m.TestBool)
        </td>
        <td>
            @Html.EditorFor(m => m.CreateDate)
        </td>
        <td>
            <a href="#" class="text-danger btn-remove">
                <i class="fa fa-close"></i> Delete
            </a>
        </td>
    }
</tr>