@model TestModel2

<tr>    
    @Html.HiddenFor(m => m.Id)
    <td>
        @Html.TextBoxFor(m => m.SomeDescription, new { @class = "form-control autocomplete", data_url = "http://jsonplaceholder.typicode.com/users" })
    </td>
    <td>
        @Html.TextBoxFor(m => m.SomeNumber)
    </td>
    <td>
        <a href="#" class="text-danger btn-remove">
            <i class="fa fa-close"></i> Delete
        </a>
    </td>
</tr>